{% extends 'Traffic_Police/TrafficPolice_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
{% csrf_token %}
<table class="table table-striped">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Bus Name</th>
    <th scope="col">Registration Number</th>
    <th scope="col">Status</th>
    <th scope="col">Owner</th>
    <th scope="col">Route</th>
  </tr>
    {% for i in viewBusDetails %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>&nbsp;{{ i.bus_name }}</td>
    <td>&nbsp;{{ i.registration_number }}</td>
    <td>&nbsp;{{ i.status }}</td>
    <td>&nbsp;{{ i.owner_id.name }}</td>
    <td>&nbsp;{{ i.route_id.start }}-{{ i.route_id.end }}</td>
  </tr>
    {% endfor %}
</table>

</form>
</body>
</html>
{% endblock %}