<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
<table width="200" border="1">
  <tr>
      <th></th>
    <th scope="col">Bus</th>
    <th scope="col">Routes</th>
    <th scope="col">Stops</th>
    <th scope="col">Stop Time</th>
    <th scope="col">Location</th>
  </tr>
  <tr>
     <td><a href="/view_profile">Profile</a></td>
    <td><a href="/add_bus">Add</a> <br>
        <a href="/view_bus">View</a></td>
    <td><a href="/Owner_view_routes">View</a></td>
    <td><a href="/Owner_view_stops">View</a></td>
    <td><a href="/time_allocation">Add</a> <br />
    	<a href="/view_time_allocation">View</a>
    </td>
    <td><a href="/view_location">View</a></td>
  </tr>
    <button><a href="/logout">LogOut</a></button>
</table>

</form>
{% block body %}
{% endblock %}
</body>
</html>
