{% extends 'Bus_Owner/Owner_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
  <table class="table table-striped">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Bus</th>
      <th scope="col">Registration Number</th>
      <th scope="col">Route</th>
      <th scope="col">Status</th>
      <th scope="col">Drivers</th>
      <th scope="col">Location</th>

    </tr>
      {% for i in Bus %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.bus_name }}</td>
      <td>&nbsp;{{ i.registration_number }}</td>
      <td>{{ i.route_id.start }}-{{ i.route_id.end }}</td>
      <td>&nbsp;{{ i.status }}</td>
      <td>{{ i.driver_id.name }}</td>
      <td><a href="/view_location" class="btn btn-warning">Track</a></td>

    <td>
        <a href="/update_bus/{{ i.id }}" class="btn btn-outline-info">Update</a>
        <a href="/delete_bus_entry/{{ i.id }}" class="btn btn-outline-danger">Delete</a>
    </td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}